<html>

<head>
    {% comment %}
    <link rel="icon" href="data:,"> {% endcomment %}
    <link rel="icon" href="data:;base64,=">

    <title> {% block title %} Blend's Marketing {% endblock%} </title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    {% comment %} <script src="{% static '/js/test.js' %}"> </script> {% endcomment %}
    {% comment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% endcomment %}
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h3 class="my-0 mr-md-auto font-weight-normal">
            <span>
                <img class="img-fluid mx-auto"  src="{% static "img/logo.svg" %}" alt="home" width=180px />
            </span>
            Talent Capability Tracker
        </h3>
        <nav class="my-2 my-md-0 mr-md-3">
            {% if user.first_name == "Ziyu" or user.first_name == "Qizhe"user.first_name == "Yue" %}
                <a class="p-2 text-dark" href="/create/">
                    Create Profile
                </a>
            {% endif %}
            <a class="p-2 text-dark" href="/">
                Homepage
            </a>
            {% comment %} <a class="p-2 text-dark" href="/{{user.first_name}}_{{user.last_name}}"> {% endcomment %}
            <a class="p-2 text-dark" href="/{{user.first_name.split|join:'_'}}_{{user.last_name}}">    
                My Profile
            </a>
            <a class="p-2 text-dark" href="/upload_img/">
                Upload Profile Image/Bio
            </a>
            <a class="p-2 text-dark" href="/talent_dashboard/">
                Talent Statistics
            </a>
        </nav>
        <a class="btn btn-outline-primary" href="/oauth2/logout">Logout</a>

    </div>
    <div class="container-fluid">
        <div id='content' name='content' class='row mb-3'>
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% block jsblock %}
    {% endblock %}

</body>


</html>