{% extends "bios/base.html" %}
{% block title %} Bio Info {% endblock %}

{% block content%}

{% load static%}

<div class="row bio-page-container">
    <div class="col-md-3 align-items-center">
        {% comment %} <img src="{% static 'media/images/'%}{{people.name}}.jpeg"
            onerror="this.onerror=null; this.src='static/img/logo2.png'" alt="home" width=240px /> {% endcomment %}
        <img class="img-fluid mx-auto d-block" src="{{ file.photo.url }}"
        onerror="this.onerror=null; this.src='static/img/logo2.png'" alt="home" width=240px />
        {%if people.name == user.first_name.split|join:'_'|add:"_"|add:user.last_name%}
        <a class="p-2 text-light" href="/{{user.first_name.split|join:'_'}}_{{user.last_name}}/edit/">

            <button class="btn btn-primary btn-sm btn-block" type="submit" value="Apply" style='margin:10px 0;'>
            
            Edit Profile
            
            </button>
            
        </a>
        {% comment %} <button class="btn btn-primary btn-sm btn-block" type="submit" value="Apply" style='margin:10px 0;'>
            <a class="p-2 text-light" href="/{{user.first_name}}_{{user.last_name}}/edit/">
                Edit Profile
            </a>
        </button> {% endcomment %}
        {%endif%}
    </div>

    <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Profile Information</span>
            <span class="badge badge-secondary badge-pill"></span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Name</h6>
                    <small class="text-muted"></small>
                </div>
                {% load replace%}
                <span class="text-muted">{{people.name|replace}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Email</h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{people.email}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Position</h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{people.position}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Location</h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{people.location}}</span>
            </li>

            {% if people.university != 'N/A' and people.major != 'N/A' and people.degree != 'N/A' %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Edcation</h6>
                        <small class="text-muted"></small>
                    </div>
                    <span class="text-muted">{{people.major}}, {{people.degree}}, {{people.university}}</span>
                </li>
            {% endif %}

            {% if people.university2 != 'N/A' and people.major2 != 'N/A' and people.degree2 != 'N/A' %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0"> </h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{people.major2}}, {{people.degree2}}, {{people.university2}}</span>
            </li>
            {% endif %}

            {% if people.university3 != 'N/A' and people.major3 != 'N/A' and people.degree3 != 'N/A' %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0"> </h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{people.major3}}, {{people.degree3}}, {{people.university3}}</span>
            </li>
            {% endif %}

            {% comment %} <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">University</h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{people.university}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Major</h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{people.major}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Degree</h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{people.degree}}</span>
            </li> {% endcomment %}



            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Introduction</h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{people.intro}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Bio</h6>
                    <small class="text-muted"></small>
                </div>
                {% if bio_obj == 1 %}
                    {% comment %} <span class="text-muted"><a href="{{ file.bio_ppt.url }}" onerror="">Link</a></span> {% endcomment %}
                    <span class="text-muted"><a href="/media/bio_ppt/{{people.name}}.pdf" onerror="">Link</a></span>
                {% else %}
                    <span class="text-muted">No Bio Found</a></span>
                {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Last Updated</h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{people.date_modified}}</span>
            </li>
        </ul>

        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Years of Experience</span>
            <span class="badge badge-secondary badge-pill"></span>
        </h4>
        {% if industry|length > 0 %}
        <ul class="list-group mb-3">
            Industry
            {% for key, value in industry.items %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">{{key}}</h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{value}}</span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if domain|length > 0 %}
        <ul class="list-group mb-3">
            Business Domain
            {% for key, value in domain.items %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">{{key}}</h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{value}}</span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Skills</span>
            <span class="badge badge-secondary badge-pill"></span>
        </h4>
        <ul style="list-style:none;">
            <li><small class="text-muted">1 - Unfamiliar: I have little or no familiarity with this skill and have never
                    applied this skill. </small></li>
            <li><small class="text-muted">2 - Novice: I have limited experience. </small></li>
            <li><small class="text-muted">3 - Proficient: I am comfortable using this skills, and independently
                    competent with this skill.</small></li>
            <li><small class="text-muted">4 - Advanced: I have strong proficiency in this skill. Teammates should turn
                    to me.</small></li>
            <li><small class="text-muted">5 - Expert: I have significant experience with this skill, including
                    supporting others. Anyone can turn to me. </small></li>
        </ul>
        {% if skill|length > 0 %}
        <ul class="list-group mb-3">
            Area of Expertise
            {% for key, value in skill.items %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">{{key}}</h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{value}}</span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if technique|length > 0 %}
        <ul class="list-group mb-3">
            Technical Skill
            {% for key, value in technique.items %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">{{key}}</h6>
                    <small class="text-muted"></small>
                </div>
                <span class="text-muted">{{value}}</span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    {% comment %} <div class='create-botton'
        style="background-color:#04AA6D; width:20%; font-size:small; text-align:center;border-radius:5px; ">
        <a href="/{{people.name}}/edit/"
            style="text-decoration: none; font-size:large; color:white; padding: 6px 6px 6px 6px;">
            Edit Profile
        </a>
    </div> {% endcomment %}
    {% comment %} <div class="bio-img">
        <img src="{% static 'media/images/'%}{{people.name}}.pptx"
            onerror="this.onerror=null; this.src='static/img/profile-img/default.png'" alt="home" width=240px />
    </div> {% endcomment %}

</div>

{% endblock %}