{% extends 'bios/base.html'%}
{% load static %}

{% block title %} Create New Profile {% endblock %}

{% block content %} 
<style>
	.hidden {
		display:none;
	}
    {% comment %} .unhide {
        align:center;
    } {% endcomment %}
</style>
<form method='post' action='/create/' enctype="multipart/form-data">
    {% csrf_token %}
    
    <div>
        <table id="create-table">
            <tr>
                <th> Name </th>
                <th> Email </th>
                <th> Position </th>
                <th> Location </th>
                {% comment %} <th> Business Domain </th> {% endcomment %}
            </tr>
            <td> {{form.name}} </td>
            <td> {{form.email}} </td>
            <td> {{form.position}} </td>
            <td> {{form.location}} </td>
            {% comment %} <td> {{form.domain}} </td> {% endcomment %}
        </table>
        <table id="create-table">
            <tr>
                <th> Areas of Expertise </th>
            </tr>
            {% comment %} <td style="vertical-align:top; width:40%"> {{form.skill}} </td> {% endcomment %}
            <td>
                {% for s in form.skill %}
                
                {% if forloop.counter0 == 0 %}
                    <a style="font-weight:bolder;">Data Engineering </a>
                {% endif %}
                {% if forloop.counter0 == 3 %}
                    <a style="font-weight:bolder;">BI </a>
                {% endif %}
                {% if forloop.counter0 == 6 %}
                    <a style="font-weight:bolder;">Process Infrastructure </a>
                {% endif %}
                {% if forloop.counter0 == 11 %}
                    <a style="font-weight:bolder;">Analytics Application </a>
                {% endif %}
                {% if forloop.counter0 == 26 %}
                    <a style="font-weight:bolder;">Statistics / ML </a>
                {% endif %}
                {% if forloop.counter0 == 44 %}
                    <a style="font-weight:bolder;">Deep Learning / NLP </a>
                {% endif %}
                <div class="hahah" id="{{forloop.counter0}}" style="display:flex;margin-left:15px;">
                    {{s}}
                    <div class="hidden" id="id_skill_{{forloop.counter0}}" align='left'>
                        <div id="skill_select_{{forloop.counter0}}">
                            <input type="radio" name="id_skill_{{forloop.counter0}}" value="1" onchange="test22(event);"> 1 - Unfamiliar
                            <input type="radio" name="id_skill_{{forloop.counter0}}" value="2" onchange="test22(event);"> 2 - Novice
                            <input type="radio" name="id_skill_{{forloop.counter0}}" value="3" onchange="test22(event);"> 3 - Proficient
                            <input type="radio" name="id_skill_{{forloop.counter0}}" value="4" onchange="test22(event);"> 4 - Advanced
                            <input type="radio" name="id_skill_{{forloop.counter0}}" value="5" onchange="test22(event);"> 5 - Expert
                        </div>
                    </div>
                    {% comment %} <div class="hidden" id="id_skill_{{forloop.counter0}}" >
                        <select id="skill_select_{{forloop.counter0}}" onchange="test2(event);">
                            <option value=''> ---SELECT--- </option>
                            <option value="1">1 - Unfamiliar</option>
                            <option value="2">2 - Novice</option>
                            <option value="3">3 - Proficient</option>
                            <option value="4">4 - Advanced</option>
                            <option value="5">5 - Expert</option>
                        </select>
                    </div> {% endcomment %}
                </div>
                {% endfor %}
            </td>
            
            <tr>
                <th> Industry Experience </th>
            </tr>
            {% comment %} <td style="vertical-align:top; width:30%"> {{form.industry}} </td> {% endcomment %}
            <td> 
                {% for s in form.industry %}
                <div class="hahah" id="{{forloop.counter0}}" style="display:flex;margin-left:15px;">
                    {{s}}
                    <div class="hidden" id="id_industry_{{forloop.counter0}}">
                        <div id="industry_select_{{forloop.counter0}}">
                            <input type="radio" name="id_industry_{{forloop.counter0}}" value="1" onchange="test22(event);"> &lt;1 YOE
                            <input type="radio" name="id_industry_{{forloop.counter0}}" value="2" onchange="test22(event);"> 1-3 YOE
                            <input type="radio" name="id_industry_{{forloop.counter0}}" value="3" onchange="test22(event);"> 4-5 YOE
                            <input type="radio" name="id_industry_{{forloop.counter0}}" value="4" onchange="test22(event);"> 5-10 YOE
                            <input type="radio" name="id_industry_{{forloop.counter0}}" value="5" onchange="test22(event);"> &gt;10 YOE
                        </div>
                    </div>
                    {% comment %} <div class="hidden" id="id_industry_{{forloop.counter0}}">
                        <select id="industry_select_{{forloop.counter0}}" onchange="test3(event);">
                            <option value=''> ---SELECT--- </option>
                            <option value="1"> &lt;1 YOE</option>
                            <option value="2"> 1-3 YOE</option>
                            <option value="3"> 4-5 YOE</option>
                            <option value="4"> 5-10 YOE</option>
                            <option value="5"> &gt;10 YOE</option>
                        </select>
                    </div> {% endcomment %}
                </div>
                {% endfor %}     
            </td>

            <tr>
                <th> Technique </th>
            </tr>
            {% comment %} <td style="vertical-align:top; width:30%"> {{form.technique}} </td> {% endcomment %}
            <td style="vertical-align:top; width:30%"> 
                {% for s in form.technique %}
                {% if forloop.counter0 == 0 %}
                    <a style="font-weight:bolder;">Cloud Computing Services </a>
                {% endif %}
                {% if forloop.counter0 == 5 %}
                     <a style="font-weight:bolder;"> Progamming Language </a>
                {% endif %}
                {% if forloop.counter0 == 12 %}
                    <a style="font-weight:bolder;"> Data Visualization</a>
                {% endif %}
                {% if forloop.counter0 == 16 %}
                    <a style="font-weight:bolder;">Database Management </a>
                {% endif %}
                {% if forloop.counter0 == 20 %}
                    <a style="font-weight:bolder;">Others</a>
                {% endif %}
                <div class="hahah" id="{{forloop.counter0}}" style="display:flex;margin-left:15px;">
                    {{s}}
                    <div class="hidden" id="id_technique_{{forloop.counter0}}">
                        <div id="technique_select_{{forloop.counter0}}">
                            <input type="radio" name="id_technique_{{forloop.counter0}}" value="1" onchange="test22(event);"> 1 - Unfamiliar
                            <input type="radio" name="id_technique_{{forloop.counter0}}" value="2" onchange="test22(event);"> 2 - Novice
                            <input type="radio" name="id_technique_{{forloop.counter0}}" value="3" onchange="test22(event);"> 3 - Proficient
                            <input type="radio" name="id_technique_{{forloop.counter0}}" value="4" onchange="test22(event);"> 4 - Advanced
                            <input type="radio" name="id_technique_{{forloop.counter0}}" value="5" onchange="test22(event);"> 5 - Expert
                        </div>
                    </div>
                    {% comment %} <div class="hidden" id="id_technique_{{forloop.counter0}}">
                        <select id="technique_select_{{forloop.counter0}}" onchange="test4(event);">
                            <option value=''> ---SELECT--- </option>
                            <option value="1">1 - Unfamiliar</option>
                            <option value="2">2 - Novice</option>
                            <option value="3">3 - Proficient</option>
                            <option value="4">4 - Advanced</option>
                            <option value="5">5 - Expert</option>
                        </select>
                    </div> {% endcomment %}
                </div>
                {% endfor %}                
            </td>
            <tr>
                <th> Business Domain </th>
            </tr>
            <td> 
                {% for s in form.domain %}
                <div class="hahah" id="{{forloop.counter0}}" style="display:flex;margin-left:15px;">
                    {{s}}
                    <div class="hidden" id="id_domain_{{forloop.counter0}}">
                        <div id="domain_select_{{forloop.counter0}}">
                            <input type="radio" name="id_domain_{{forloop.counter0}}" value="1" onchange="test22(event);"> 1 - Unfamiliar
                            <input type="radio" name="id_domain_{{forloop.counter0}}" value="2" onchange="test22(event);"> 2 - Novice
                            <input type="radio" name="id_domain_{{forloop.counter0}}" value="3" onchange="test22(event);"> 3 - Proficient
                            <input type="radio" name="id_domain_{{forloop.counter0}}" value="4" onchange="test22(event);"> 4 - Advanced
                            <input type="radio" name="id_domain_{{forloop.counter0}}" value="5" onchange="test22(event);"> 5 - Expert
                        </div>
                    </div>
                    {% comment %} <div class="hidden" id="id_domain_{{forloop.counter0}}">
                        <select id="domain_select_{{forloop.counter0}}" onchange="test5(event);">
                            <option value=''> ---SELECT--- </option>
                            <option value="1">1 - Unfamiliar</option>
                            <option value="2">2 - Novice</option>
                            <option value="3">3 - Proficient</option>
                            <option value="4">4 - Advanced</option>
                            <option value="5">5 - Expert</option>
                        </select>
                    </div> {% endcomment %}
                </div>
                {% endfor %}     
            </td>
        </table>

        <table id="create-table">
            <tr>
                <th> University </th>
                <th> Major </th>
            </tr>
            <td> {{form.university}} </td>
            <td> {{form.major}} </td>
        </table>


        <table id="create-table">
            <tr>
                <th> Client </th>
            </tr>
            <td> {{ form.client }} </td>
        </table>

        <table id="create-table">
            <tr>
                <th> Self-Intro </th>
            </tr>
            <td> {{ form.intro }} </td>
        </table>

    </div>
    <button type="submit", name="save"> Create / Update Profile </button>
</form>


{% endblock %}

{% block jsblock %}
	{% comment %} <script type='text/javascript' src="{% static '/js/test.js' %}"></script> {% endcomment %}
	<script>

		
		function test(event) {
			let checkbox = document.getElementById(event.target.id);
			// const prefix = 'id_skill_';
			// console.log(checkbox.id);
			if (checkbox.checked == true) {
				let hidden_selects = document.getElementsByClassName('hidden')
				for (var i=0; i<hidden_selects.length; i++) {
					compare_id = hidden_selects[i].id;
					// compare_id = prefix.concat(hidden_selects[i].id);
                    console.log(checkbox.id, compare_id)
					if (checkbox.id == compare_id) {
						select_id = hidden_selects[i].id.split('_')
						hidden_selects[i].setAttribute("class", "unhide");
					}
				}

			} else {
				let unhide_selects = document.getElementsByClassName('unhide')
				for (var i=0; i<unhide_selects.length; i++) {
					compare_id = unhide_selects[i].id
					// compare_id = prefix.concat(unhide_selects[i].id)

					if (checkbox.id == compare_id) {
						console.log("no");
						unhide_selects[i].setAttribute("class", "hidden");
					}
				}
			}
		} 

		function test2(event) {
			console.log(event.target.id)
			options = document.getElementById(event.target.id)
			skill_idx = event.target.id.split('_')
			elements = options.getElementsByTagName('*')
			for (var i=0; i<elements.length; i++) {
				if (elements[i].selected == true) {
					console.log(elements[i].value)
					selected_skill = document.getElementById("id_skill_".concat(skill_idx[2]))
					selected_skill.setAttribute('value', selected_skill.value.concat(' '.concat(elements[i].value)))
					// selected_skill.setAttribute('text', selected_skill.value.concat(' '.concat(elements[i].value)))
					console.log(selected_skill.innerHTML)
				}
			}
		}

		function test3(event) {
			console.log(event.target.id)
			options = document.getElementById(event.target.id)
			skill_idx = event.target.id.split('_')
			elements = options.getElementsByTagName('*')
			for (var i=0; i<elements.length; i++) {
				if (elements[i].selected == true) {
					console.log(elements[i].value)
					selected_skill = document.getElementById("id_industry_".concat(skill_idx[2]))
					selected_skill.setAttribute('value', selected_skill.value.concat(' '.concat(elements[i].value)))
					// selected_skill.setAttribute('text', selected_skill.value.concat(' '.concat(elements[i].value)))
					console.log(selected_skill.innerHTML)
				}
			}
		}

		function test4(event) {
			console.log(event.target.id)
			options = document.getElementById(event.target.id)
			skill_idx = event.target.id.split('_')
			elements = options.getElementsByTagName('*')
			for (var i=0; i<elements.length; i++) {
				if (elements[i].selected == true) {
					console.log(elements[i].value)
					selected_skill = document.getElementById("id_technique_".concat(skill_idx[2]))
					selected_skill.setAttribute('value', selected_skill.value.concat(' '.concat(elements[i].value)))
					// selected_skill.setAttribute('text', selected_skill.value.concat(' '.concat(elements[i].value)))
					console.log(selected_skill.innerHTML)
				}
			}
		}

        function test5(event) {
			console.log(event.target.id)
			options = document.getElementById(event.target.id)
			skill_idx = event.target.id.split('_')
			elements = options.getElementsByTagName('*')
			for (var i=0; i<elements.length; i++) {
				if (elements[i].selected == true) {
					console.log(elements[i].value)
					selected_skill = document.getElementById("id_domain_".concat(skill_idx[2]))
					selected_skill.setAttribute('value', selected_skill.value.concat(' '.concat(elements[i].value)))
					// selected_skill.setAttribute('text', selected_skill.value.concat(' '.concat(elements[i].value)))
					console.log(selected_skill.innerHTML)
				}
			}
		}

        function test22(event) {
			console.log(event.target)
			options = document.getElementById(event.target.name)
			options.setAttribute('value', options.value.concat(" ".concat(event.target.value)))
			console.log(options.value)
		} 
    </script>

{% endblock %}