{% extends 'bios/base.html'%}

{% block title %} Edit Profile {% endblock %}

{% block content %}

<style>

</style>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
</script>
<form method='post' action='/{{person.name}}/edit/'>
    {% csrf_token %}
    <div>
        <h4>Basic Information</h4>
        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th> Name </th>
                    <th> Email </th>
                    <th> Position </th>
                    <th> Location </th>
                </tr>
            </thead>
            <td> {{person.name}} </td>
            <td> {{person.email}} </td>
            <td> {{person.position}} </td>
            <td> {{form.location}} </td>
            {% comment %} <td> {{form.domain}} </td> {% endcomment %}
        </table>
        <h4>Edit Profile</h4>
        <table class="table table-sm">
            <thead class="thead-light">
            <tr>
                <th> University </th>
                <th> Major </th>
                <th> Client </th>
            </tr>
            </thead>
            <td> {{ form.university }} </td>
            <td> {{ form.major }} </td>
            <td> {{ form.client }} </td>
        </table>
        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th> Self-Intro </th>
                </tr>
            </thead>
            <td> {{ form.intro }} </td>
        </table>
        <h4>Add Experience</h4>
        <ul style="list-style:none;">
            <li><b>1</b> - Unfamiliar: I have little or no familiarity with this skill and have never applied this skill. </li>
            <li><b>2</b> - Novice: I have limited experience. </li>
            <li><b>3</b> - Proficient: I am comfortable using this skills, and independently competent with this skill</li>
            <li><b>4</b> - Advanced: I have strong proficiency in this skill. Teammates should turn to me.</li>
            <li><b>5</b> - Expert: I have significant experience with this skill, including supporting others. Anyone can turn to me. </li>
        </ul>
        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th colspan=6> Areas of Expertise
                    </th>
                </tr>
            </thead>
            <tr>
                <th> Data Engineering</th>
                <th> Business Intelligence</th>
                <th> Process</th>
            </tr>
            <tr>
                <td>
                    {% for s in form.skill%}
                    {% if forloop.counter0 >= 0  and forloop.counter0 < 3%}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class="col-sm-2 input-group">
                            <div class="hidden" id="tmp_id_skill_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="first group"
                                    id="skill_select_{{forloop.counter0}}">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for s in form.skill %}
                    {% if forloop.counter0 >= 3  and forloop.counter0 < 6%}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class="col-sm-2 input-group">
                            <div class="hidden" id="tmp_id_skill_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="first group"
                                    id="skill_select_{{forloop.counter0}}">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for s in form.skill %}
                    {% if forloop.counter0 >= 6  and forloop.counter0 < 11%}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class="col-sm-2 input-group">
                            <div class="hidden" id="tmp_id_skill_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="first group"
                                    id="skill_select_{{forloop.counter0}}">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th> Analytics Application</th>
                <th> Statistics / Machine Learning</th>
                <th> Deep Learning / Natural Language Processing</th>
            </tr>
            <tr>
                <td>
                    {% for s in form.skill %}
                    {% if forloop.counter0 >= 11  and forloop.counter0 < 26%}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class="col-sm-2 input-group">
                            <div class="hidden" id="tmp_id_skill_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="first group"
                                    id="skill_select_{{forloop.counter0}}">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for s in form.skill %}
                    {% if forloop.counter0 >= 26  and forloop.counter0 < 44%}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class="col-sm-2 input-group">
                            <div class="hidden" id="tmp_id_skill_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="first group"
                                    id="skill_select_{{forloop.counter0}}">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for s in form.skill %}
                    {% if forloop.counter0 >= 44%}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class="col-sm-2 input-group">
                            <div class="hidden" id="tmp_id_skill_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="first group"
                                    id="skill_select_{{forloop.counter0}}">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_skill_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_skill_{{forloop.counter0}}">5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </table>
        <table class="table table-sm">
            <thead class="thead-light"><tr><th colspan = 5>Technique</th></tr></thead>
            <tr>
                <th> Cloud Computing Services</th>
                <th> Progamming Language</th>
                <th> Data Visualization</th>
                <th> Database Management</th>
                <th> Others</th>
            </tr>
            <tr>
                <td>
                    {% for s in form.technique %}
                    {% if forloop.counter0 >= 0 and  forloop.counter0 < 5 %}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class = "input-group">
                            <div class="hidden" id="tmp_id_technique_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="thid group"
                                id="technique_select_{{forloop.counter0}}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">5</label>
                                </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for s in form.technique %}
                    {% if forloop.counter0 >= 5 and  forloop.counter0 < 12 %}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class = "input-group">
                            <div class="hidden" id="tmp_id_technique_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="thid group"
                                id="technique_select_{{forloop.counter0}}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">5</label>
                                </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for s in form.technique %}
                    {% if forloop.counter0 >= 12 and  forloop.counter0 < 16 %}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class = "input-group">
                            <div class="hidden" id="tmp_id_technique_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="thid group"
                                id="technique_select_{{forloop.counter0}}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">5</label>
                                </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for s in form.technique %}
                    {% if forloop.counter0 >= 16 and  forloop.counter0 < 20 %}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class = "input-group">
                            <div class="hidden" id="tmp_id_technique_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="thid group"
                                id="technique_select_{{forloop.counter0}}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">5</label>
                                </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for s in form.technique %}
                    {% if forloop.counter0 >= 20 %}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class = "input-group">
                            <div class="hidden" id="tmp_id_technique_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="thid group"
                                id="technique_select_{{forloop.counter0}}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_technique_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_technique_{{forloop.counter0}}">5</label>
                                </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </table>
        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th colspan="2"> Business Domain</th>
                </tr>
            </thead>
            <tr>
                <td>
                    {% for s in form.domain %}
                    {% if forloop.counter0 < 5%}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class="col-sm-2 input-group">
                            <div class="hidden" id="tmp_id_domain_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="thid group"
                                id="domain_select_{{forloop.counter0}}">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_domain_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_domain_{{forloop.counter0}}">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_domain_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_domain_{{forloop.counter0}}">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_domain_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_domain_{{forloop.counter0}}">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_domain_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_domain_{{forloop.counter0}}">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_domain_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_domain_{{forloop.counter0}}">5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for s in form.domain %}
                    {% if forloop.counter0 >= 5%}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class="col-sm-2 input-group">
                            <div class="hidden" id="tmp_id_domain_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="thid group"
                                id="domain_select_{{forloop.counter0}}">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_domain_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_domain_{{forloop.counter0}}">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_domain_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_domain_{{forloop.counter0}}">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_domain_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_domain_{{forloop.counter0}}">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_domain_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_domain_{{forloop.counter0}}">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="id_domain_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                        <label class="form-check-label" for="id_domain_{{forloop.counter0}}">5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </table>
        <table class="table table-sm">
            <thead class="thead-light"><tr><th colspan="2">Industry Experience</th></tr></thead>
            <tr>
                <td>
                    {% for s in form.industry %}
                    {% if forloop.counter0 <= 10 %}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class="input-group">
                            <div class="hidden" id="tmp_id_industry_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="second group"
                                id="industry_select_{{forloop.counter0}}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_industry_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_industry_{{forloop.counter0}}">&lt; 1 Year</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_industry_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_industry_{{forloop.counter0}}">1-3 Years</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_industry_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_industry_{{forloop.counter0}}">4-5 Years</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_industry_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_industry_{{forloop.counter0}}">5-10 Years</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_industry_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_industry_{{forloop.counter0}}">&gt; 10 Years</label>
                                </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for s in form.industry %}
                    {% if forloop.counter0 > 10%}
                    <li class="list-group-item" id="{{forloop.counter0}}">
                        {{s}}
                        <div class="input-group">
                            <div class="hidden" id="tmp_id_industry_{{forloop.counter0}}">
                                <div class="btn-group mr-2" role="group" aria-label="second group"
                                id="industry_select_{{forloop.counter0}}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_industry_{{forloop.counter0}}" value="1" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_industry_{{forloop.counter0}}">&lt; 1 Year</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_industry_{{forloop.counter0}}" value="2" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_industry_{{forloop.counter0}}">1-3 Years</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_industry_{{forloop.counter0}}" value="3" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_industry_{{forloop.counter0}}">4-5 Years</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_industry_{{forloop.counter0}}" value="4" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_industry_{{forloop.counter0}}">5-10 Years</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="id_industry_{{forloop.counter0}}" value="5" onchange="select_level(event);">
                                    <label class="form-check-label" for="id_industry_{{forloop.counter0}}">&gt; 10 Years</label>
                                </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit" name = "update">
        Update Profile
    </button>

</form>

{% for k, v in preselect.items %}
{{k}} {{v}}
{% endfor %}


{% autoescape off %}
<script type="text/javascript">
    var preselect = {{preselect}};
    console.log(preselect.items)
    for (let key in preselect) {
        console.log(key);
        // getelementid (tmp_) - setAttribute to 'unhide'
        element = document.getElementById('tmp_'.concat(key));
        element.setAttribute('class', 'unhide');

        // append level value
        option_value = document.getElementById((key));
        option_value.setAttribute('value', option_value.value.concat(' '.concat(preselect[key])));

        // getelementname - loop thru value and select
        options = document.getElementsByName(key);
        for (var i = 0; i < options.length; i++) {
            console.log(preselect[key])
            // console.log(split[split.length - 1])
            // print(options[i].value, key[split.length - 1])
            if (options[i].value == preselect[key]) {
                options[i].setAttribute('checked', 'checked');
            }
        }

        // console.log(document.getElementById())
    }
</script>
{% endautoescape %}


{% endblock %}

{% block jsblock %}
<script>
    function test(event) {
        let checkbox = document.getElementById(event.target.id);
        console.log(event.target.id)
        if (checkbox.checked == true) {
            let hidden_selects = document.getElementsByClassName('hidden')
            for (var i = 0; i < hidden_selects.length; i++) {
                compare_id = hidden_selects[i].id;
                // compare_id = prefix.concat(hidden_selects[i].id);
                console.log(checkbox.id, compare_id.substr(4, compare_id.length))
                if (checkbox.id == compare_id.substr(4, compare_id.length)) {
                    select_id = hidden_selects[i].id.split('_')
                    hidden_selects[i].setAttribute("class", "unhide");
                    hidden_selects[i].setAttribute('float', "right");
                }
            }

        } else {
            let unhide_selects = document.getElementsByClassName('unhide')
            for (var i = 0; i < unhide_selects.length; i++) {
                compare_id = unhide_selects[i].id
                // compare_id = prefix.concat(unhide_selects[i].id)

                if (checkbox.id == compare_id.substr(4, compare_id.length)) {
                    console.log("no");
                    unhide_selects[i].setAttribute("class", "hidden");
                }
            }
        }
    }

    function select_level(event) {
        console.log(event.target)
        options = document.getElementById(event.target.name)
        options.setAttribute('value', options.value.concat(" ".concat(event.target.value)))
        console.log(options.value)
    }
</script>

{% endblock %}