{% extends 'bios/base.html'%}

{% block content %}

<form action="/" method="get">
    <form class="form-outline my-2 my-md-0">
        <input name='search-input' class="form-control" type="text" placeholder="Search" aria-label="Search">
    </form>
</form>

<nav class="col-md-3">
    <div>
        <hr class="mb-4">
        <form action="/" method="get">
            <div class="row">
                <div class="mb-3">
                    <label for="skill"> Area of Expertise</label>
                    <select id="skill" class="custom-select d-block w-100" name="skill-dropdown">
                        <option value="">Choose...</option>
                        {% comment %} <option value='' disabled selected>Skill Set</option> {% endcomment %}
                        {% for p in skill_distinct %}
                        <option value="{{ p }}" {%if p in skill_query %} selected {%endif%}> {{ p }} </option>
                        {% endfor %}
                    </select>
                    {% comment %} {% endcomment %}
                </div>
                <div class="mb-3">
                    <label for="skill-level"> Experience Level </label>
                    <select class="custom-select d-block w-100" name="skill-level-dropdown">
                        <option value="">Choose...</option>
                        {% comment %} <option value='' disabled selected>SELECT</option>{% endcomment %}
                        <option value="1" {%if skill_level == "1" %} selected {%endif%}> 1 - Unfamiliar</option>
                        <option value="2" {%if skill_level == "2" %} selected {%endif%}> 2 - Novice</option>
                        <option value="3" {%if skill_level == "3" %} selected {%endif%}> 3 - Proficient</option>
                        <option value="4" {%if skill_level == "4" %} selected {%endif%}> 4 - Advanced</option>
                        <option value="5" {%if skill_level == "5" %} selected {%endif%}> 5 - Expert</option>
                    </select>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class = "mb-3">
                    <label for="industry"> Industry Experience</label>
                    <select class="custom-select d-block w-100" name="industry-dropdown">
                        <option value="">Choose...</option>
                        {% for p in industry_distinct %}
                        <option value="{{ p }}" {%if p in industry_query %} selected {%endif%}> {{ p }} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class = "mb-3">
                    <label for="industry-level"> Experience Level </label>
                    <select class="custom-select d-block w-100" name="industry-level-dropdown">
                        <option value="">Choose...</option>
                        <option value="1" {%if industry_level == "1" %} selected {%endif%}> &lt;1 Year</option>
                        <option value="2" {%if industry_level == "2" %} selected {%endif%}> 1-3 Year</option>
                        <option value="3" {%if industry_level == "3" %} selected {%endif%}> 4-5 Year</option>
                        <option value="4" {%if industry_level == "4" %} selected {%endif%}> 5-10 Year</option>
                        <option value="5" {%if industry_level == "5" %} selected {%endif%}> &gt;10 Year</option>
                    </select>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class = "mb-3">
                    <label for="tech"> Technique Skill </label>
                    <select class="custom-select d-block w-100" name="tech-dropdown">
                        <option value="">Choose...</option>
                        {% for p in tech_distinct %}
                        <option value="{{ p }}" {%if p in technique_query %} selected {%endif%}> {{ p }} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class = "mb-3">
                    <label for="tech-level"> Experience Level </label>
                    <select class="custom-select d-block w-100" name="tech-level-dropdown">
                        <option value="">Choose...</option>
                        {% comment %} <option value='' disabled selected>SELECT</option>{% endcomment %}
                        <option value="1" {%if tech_level == "1" %} selected {%endif%}> 1 - Unfamiliar</option>
                        <option value="2" {%if tech_level == "2" %} selected {%endif%}> 2 - Novice</option>
                        <option value="3" {%if tech_level == "3" %} selected {%endif%}> 3 - Proficient</option>
                        <option value="4" {%if tech_level == "4" %} selected {%endif%}> 4 - Advanced</option>
                        <option value="5" {%if tech_level == "5" %} selected {%endif%}> 5 - Expert</option>
                    </select>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="mb-3">
                    <label for="domain"> Business Domain </label>
                    <select class="custom-select d-block w-100" name="domain-dropdown">
                        <option value="">Choose...</option>
                        {% for p in domain_distinct %}
                        <option value="{{ p }}" {%if p in domain_query %} selected {%endif%}> {{ p }} </option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="domain-level"> Experience Level </label>
                    <select class="custom-select d-block w-100" name="domain-level-dropdown">
                        <option value="">Choose...</option>
                        {% comment %} <option value='' disabled selected>SELECT</option>{% endcomment %}
                        <option value="1" {%if domain_level == "1" %} selected {%endif%}> &lt;1 Year</option>
                        <option value="2" {%if domain_level == "2" %} selected {%endif%}> 1-3 Year</option>
                        <option value="3" {%if domain_level == "3" %} selected {%endif%}> 4-5 Year</option>
                        <option value="4" {%if domain_level == "4" %} selected {%endif%}> 5-10 Year</option>
                        <option value="5" {%if domain_level == "5" %} selected {%endif%}> &gt;10 Year</option>
                    </select>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="mb-3">
                    <label for="university"> University </label>
                    <select class="custom-select d-block w-100" name="university-dropdown">
                        <option value=''>Choose...</option>
                        {% for p in university_distinct %}
                        <option value="{{ p }}" {%if p in university_query %} selected {%endif%}> {{ p }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <label for="major"> Major </label>
                <select class="custom-select d-block w-100" name="major-dropdown">
                    <option value=''>Choose...</option>
                    {% for p in major_distinct %}
                    <option value="{{ p }}" {%if p in major_query %} selected {%endif%}> {{ p }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="degree"> Degree </label>
                <select class="custom-select d-block w-100" name="degree-dropdown">
                    <option value="">Choose...</option>
                    <option value="B.S." {%if degree_query == "B.S." %} selected {%endif%}> B.S.</option>
                    <option value="M.S." {%if degree_query == "M.S." %} selected {%endif%}> M.S.</option>
                    <option value="PhD" {%if degree_query == "PhD" %} selected {%endif%}> PhD</option>
                    <option value="Other" {%if degree_query == "Other" %} selected {%endif%}> Other</option>
                </select>
            </div>
            
            <hr class="mb-4">
            {% comment %} <div class="row">
                <select name="location-dropdown" class="dropdown-single">
                    <option value='' disabled selected>Location</option>
                    {% for p in location_distinct %}
                    <option value="{{ p.location }}"> {{ p.location }} </option>
                    {% endfor %}
                </select>
            </div> {% endcomment %}
            <button class="btn btn-primary btn-lg btn-block" type="submit" value="Apply">
                Apply
            </button>
            {% comment %} <a href="#" onclick="reset_filter(event);">clear filter</a> {% endcomment %}
            <button class="btn btn-outline-primary btn-lg btn-block" onclick="reset_filter(event)">
                Reset
            </button>
        </form>
        <!-- <div class='create-botton'
            style="background-color:#04AA6D; width:90%; font-size:small; text-align:center;border-radius:5px;">
            <a href="/create/" style="text-decoration: none; font-size:medium; color:white; padding: 6px 6px 6px 6px;"
                onclick='test()'>
                Create Profile
            </a>
        </div> -->
        </br>

    </div>
</nav>

<main class="col-md-9 table-responsive">
    <table class="table table-striped table-sm">
        <tr>
            <th> Name</th>
            <th> Area of Expertise </th>
            <th> Industry Experience </th>
            <th> Technique Skill </th>
            <th> Business Domain </th>
            <th> Education </th>
            <th> Position </th>
        </tr>
        {% for person in people_number %}
        {% load replace%}
        <tr>
            <td> <a href="/{{person.name}}">{{ person.name|replace }} </td>
            <td> {{ person.skill_split }} </td>
            <td> {{ person.industry_split }} </td>
            <td> {{ person.technique_split }} </td>
            <td> {{ person.business_domain_split}} </td>
            <td> {{ person.major }}, {{ person.university }}, {{ person.client }} </td>
            <td> {{ person.position }}</td>
        </tr>
        {% endfor %}
    </table>
</main>

{% endblock %}

{% block jsblock %}
<script>
    function reset_filter(event) {
        option_tag = document.getElementsByTagName('option');
        // console.log(option_tag[1].selected)
        for (var i = 0; i < option_tag.length; i++) {
           if (option_tag[i].selected == true && option_tag[i].value != '') {
               console.log(option_tag[i].text);
               option_tag[i].selected = false;
               console.log(option_tag[i].selected);
           }
        }
    }
</script>
{% endblock %}