{% extends 'bios/base.html'%}


{% block content %}

{% if request_len == 0 %}
<div class = "text-center" style = "width: 100%;max-width: 600px;margin: 0 auto;margin-top:10%;">
    <span>
    </span>
    <h3 class="cover-heading">Talent Capability Tracker</h3>
    {% comment %} <form action="/" method="get">
        <form class="form-outline my-2 my-md-0">
            <input name='search-input' class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
    </form> {% endcomment %}
</div>

<form>
    <fieldset class = "text-center" style = "width: 100%;max-width: 600px;margin: 0 auto;margin-top:0.5%;">
    <legend style="font-weight:bold;">Choose Category</legend>
      <input type="checkbox" name='all-categories' value="All Categories"> All Categories
      <input type="checkbox" name='application' value="Application" style="margin-left: 10px"> Application
      <input type="checkbox" name='ds-skill' value="DS Skill" style="margin-left: 10px"> DS Skill
      <input type="checkbox" name='programming-skill' value="Programming Skill" style="margin-left: 10px"> Programming Skill
      <input type="checkbox" name='techstack' value="Techstack" style="margin-left: 10px"> Techstack<br><br>
      <div>
          <input name='search-input' class="form-control" type="text" placeholder="Search" aria-label="Search"><br>
      </div>
      <div>
          <button class="btn btn-primary btn-lg" type="submit" value="Apply"> Search</button>
      </div>
    </fieldset>
</form>

{% else %}
<form action="/" method="get">
    <form class="form-outline my-2 my-md-0">
        <input name='search-input' class="form-control" type="text" placeholder="Search" aria-label="Search">
    </form>
</form>

<nav class="col-md-3">
    <div>
        <hr class="mb-4">
        <form action="/" method="get">
            <div class="row">
                <div class="mb-3">
                    <label for="app"> Application </label>
                    <select id="app" class="custom-select d-block w-100" name="app-dropdown">
                        <option value="">Choose...</option>
                        {% comment %} <option value='' disabled selected>Skill Set</option> {% endcomment %}
                        {% for p in app_distinct %}
                        <option value="{{ p }}" {%if p in app_query %} selected {%endif%}> {{ p }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="app-level"> Experience Level </label>
                    <select class="custom-select d-block w-100" name="app-level-dropdown">
                        <option value="">Choose...</option>
                        {% comment %} <option value='' disabled selected>SELECT</option>{% endcomment %}
                        <option value="1" {%if app_level == "1" %} selected {%endif%}> 1 - Unfamiliar</option>
                        <option value="2" {%if app_level == "2" %} selected {%endif%}> 2 - Novice</option>
                        <option value="3" {%if app_level == "3" %} selected {%endif%}> 3 - Proficient</option>
                        <option value="4" {%if app_level == "4" %} selected {%endif%}> 4 - Advanced</option>
                        <option value="5" {%if app_level == "5" %} selected {%endif%}> 5 - Expert</option>
                    </select>
                </div>
            </div>

            <hr class="mb-4">
            <div class="row">
                <div class="mb-3">
                    <label for="ds"> DS Skill </label>
                    <select id="ds" class="custom-select d-block w-100" name="ds-dropdown">
                        <option value="">Choose...</option>
                        {% comment %} <option value='' disabled selected>Skill Set</option> {% endcomment %}
                        {% for p in ds_distinct %}
                        <option value="{{ p }}" {%if p in ds_query %} selected {%endif%}> {{ p }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="ds-level"> Experience Level </label>
                    <select class="custom-select d-block w-100" name="ds-level-dropdown">
                        <option value="">Choose...</option>
                        {% comment %} <option value='' disabled selected>SELECT</option>{% endcomment %}
                        <option value="1" {%if ds_level == "1" %} selected {%endif%}> 1 - Unfamiliar</option>
                        <option value="2" {%if ds_level == "2" %} selected {%endif%}> 2 - Novice</option>
                        <option value="3" {%if ds_level == "3" %} selected {%endif%}> 3 - Proficient</option>
                        <option value="4" {%if ds_level == "4" %} selected {%endif%}> 4 - Advanced</option>
                        <option value="5" {%if ds_level == "5" %} selected {%endif%}> 5 - Expert</option>
                    </select>
                </div>
            </div>

            <hr class="mb-4">
            <div class="row">
                <div class="mb-3">
                    <label for="program"> Programming Skill </label>
                    <select id="program" class="custom-select d-block w-100" name="program-dropdown">
                        <option value="">Choose...</option>
                        {% comment %} <option value='' disabled selected>Skill Set</option> {% endcomment %}
                        {% for p in program_distinct %}
                        <option value="{{ p }}" {%if p in program_query %} selected {%endif%}> {{ p }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="program-level"> Experience Level </label>
                    <select class="custom-select d-block w-100" name="program-level-dropdown">
                        <option value="">Choose...</option>
                        {% comment %} <option value='' disabled selected>SELECT</option>{% endcomment %}
                        <option value="1" {%if program_level == "1" %} selected {%endif%}> 1 - Unfamiliar</option>
                        <option value="2" {%if program_level == "2" %} selected {%endif%}> 2 - Novice</option>
                        <option value="3" {%if program_level == "3" %} selected {%endif%}> 3 - Proficient</option>
                        <option value="4" {%if program_level == "4" %} selected {%endif%}> 4 - Advanced</option>
                        <option value="5" {%if program_level == "5" %} selected {%endif%}> 5 - Expert</option>
                    </select>
                </div>
            </div>

            <hr class="mb-4">
            <div class="row">
                <div class="mb-3">
                    <label for="techstack"> Techstack </label>
                    <select id="techstack" class="custom-select d-block w-100" name="techstack-dropdown">
                        <option value="">Choose...</option>
                        {% for p in techstack_distinct %}
                        <option value="{{ p }}" {%if p in techstack_query %} selected {%endif%}> {{ p }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="techstack-level"> Experience Level </label>
                    <select class="custom-select d-block w-100" name="techstack-level-dropdown">
                        <option value="">Choose...</option>
                        {% comment %} <option value='' disabled selected>SELECT</option>{% endcomment %}
                        <option value="1" {%if techstack_level == "1" %} selected {%endif%}> 1 - Unfamiliar</option>
                        <option value="2" {%if techstack_level == "2" %} selected {%endif%}> 2 - Novice</option>
                        <option value="3" {%if techstack_level == "3" %} selected {%endif%}> 3 - Proficient</option>
                        <option value="4" {%if techstack_level == "4" %} selected {%endif%}> 4 - Advanced</option>
                        <option value="5" {%if techstack_level == "5" %} selected {%endif%}> 5 - Expert</option>
                    </select>
                </div>
            </div>

            <hr class="mb-4">
            <div class="row">
                <div class = "mb-3">
                    <label for="industry"> Industry Experience</label>
                    <select class="custom-select d-block w-100" name="industry-dropdown">
                        <option value="">Choose...</option>
                        {% for p in industry_distinct %}
                        <option value="{{ p }}" {%if p in industry_query %} selected {%endif%}> {{ p }} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class = "mb-3">
                    <label for="industry-level"> Experience Level </label>
                    <select class="custom-select d-block w-100" name="industry-level-dropdown">
                        <option value="">Choose...</option>
                        <option value="1" {%if industry_level == "1" %} selected {%endif%}> &lt;1 Year</option>
                        <option value="2" {%if industry_level == "2" %} selected {%endif%}> 1-3 Year</option>
                        <option value="3" {%if industry_level == "3" %} selected {%endif%}> 4-5 Year</option>
                        <option value="4" {%if industry_level == "4" %} selected {%endif%}> 5-10 Year</option>
                        <option value="5" {%if industry_level == "5" %} selected {%endif%}> &gt;10 Year</option>
                    </select>
                </div>
            </div>
            {% comment %} <hr class="mb-4">
            <div class="row">
                <div class = "mb-3">
                    <label for="tech"> Technique Skill </label>
                    <select class="custom-select d-block w-100" name="tech-dropdown">
                        <option value="">Choose...</option>
                        {% for p in tech_distinct %}
                        <option value="{{ p }}" {%if p in technique_query %} selected {%endif%}> {{ p }} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class = "mb-3">
                    <label for="tech-level"> Experience Level </label>
                    <select class="custom-select d-block w-100" name="tech-level-dropdown">
                        <option value="">Choose...</option>
                        <option value="1" {%if tech_level == "1" %} selected {%endif%}> 1 - Unfamiliar</option>
                        <option value="2" {%if tech_level == "2" %} selected {%endif%}> 2 - Novice</option>
                        <option value="3" {%if tech_level == "3" %} selected {%endif%}> 3 - Proficient</option>
                        <option value="4" {%if tech_level == "4" %} selected {%endif%}> 4 - Advanced</option>
                        <option value="5" {%if tech_level == "5" %} selected {%endif%}> 5 - Expert</option>
                    </select>
                </div>
            </div> {% endcomment %}
            <hr class="mb-4">
            <div class="row">
                <div class="mb-3">
                    <label for="domain"> Business Domain </label>
                    <select class="custom-select d-block w-100" name="domain-dropdown">
                        <option value="">Choose...</option>
                        {% for p in domain_distinct %}
                        <option value="{{ p }}" {%if p in domain_query %} selected {%endif%}> {{ p }} </option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="domain-level"> Experience Level </label>
                    <select class="custom-select d-block w-100" name="domain-level-dropdown">
                        <option value="">Choose...</option>
                        {% comment %} <option value='' disabled selected>SELECT</option>{% endcomment %}
                        <option value="1" {%if domain_level == "1" %} selected {%endif%}> &lt;1 Year</option>
                        <option value="2" {%if domain_level == "2" %} selected {%endif%}> 1-3 Year</option>
                        <option value="3" {%if domain_level == "3" %} selected {%endif%}> 4-5 Year</option>
                        <option value="4" {%if domain_level == "4" %} selected {%endif%}> 5-10 Year</option>
                        <option value="5" {%if domain_level == "5" %} selected {%endif%}> &gt;10 Year</option>
                    </select>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="mb-3">
                    <label for="university"> University </label>
                    <select class="custom-select d-block w-100" name="university-dropdown">
                        <option value=''>Choose...</option>
                        {% for p in university_distinct %}
                        <option value="{{ p }}" {%if p in university_query %} selected {%endif%}> {{ p }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <label for="major"> Major </label>
                <select class="custom-select d-block w-100" name="major-dropdown">
                    <option value=''>Choose...</option>
                    {% for p in major_distinct %}
                    <option value="{{ p }}" {%if p in major_query %} selected {%endif%}> {{ p }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="degree"> Degree </label>
                <select class="custom-select d-block w-100" name="degree-dropdown">
                    <option value="">Choose...</option>
                    <option value="B.A." {%if degree_query == "B.A." %} selected {%endif%}> B.A.</option>
                    <option value="B.S." {%if degree_query == "B.S." %} selected {%endif%}> B.S.</option>
                    <option value="M.S." {%if degree_query == "M.S." %} selected {%endif%}> M.S.</option>
                    <option value="PhD" {%if degree_query == "PhD" %} selected {%endif%}> PhD</option>
                    <option value="Other" {%if degree_query == "Other" %} selected {%endif%}> Other</option>
                </select>
            </div>
            
            <hr class="mb-4">
            {% comment %} <div class="row">
                <select name="location-dropdown" class="dropdown-single">
                    <option value='' disabled selected>Location</option>
                    {% for p in location_distinct %}
                    <option value="{{ p.location }}"> {{ p.location }} </option>
                    {% endfor %}
                </select>
            </div> {% endcomment %}
            <button class="btn btn-primary btn-lg btn-block" type="submit" value="Apply">
                Apply
            </button>
            {% comment %} <a href="#" onclick="reset_filter(event);">clear filter</a> {% endcomment %}
            <button class="btn btn-outline-primary btn-lg btn-block" onclick="reset_filter(event)">
                Reset
            </button>
        </form>
        <!-- <div class='create-botton'
            style="background-color:#04AA6D; width:90%; font-size:small; text-align:center;border-radius:5px;">
            <a href="/create/" style="text-decoration: none; font-size:medium; color:white; padding: 6px 6px 6px 6px;"
                onclick='test()'>
                Create Profile
            </a>
        </div> -->
        </br>

    </div>
</nav>

<main class="col-md-9 table-responsive">
    <table class="table table-striped table-sm">
        <tr>
            <th> Name</th>
            {% comment %} <th> Area of Expertise </th> {% endcomment %}
            {% comment %} <th> Technique Skill </th> {% endcomment %}
            <th> Application </th>
            <th> DS Skill </th>
            <th> Programming Skill </th>
            <th> Techstack </th>
            <th> Industry Experience </th>
            <th> Business Domain </th>
            <th> Education </th>
            <th> Position </th>
        </tr>
        {% for person in people_number %}
        {% load replace %}
        <tr>
            <td> <a href="/{{person.name}}">
                {{ person.name|replace }}
            </td>
            {% comment %} <td> {{ person.skill_split }} </td> {% endcomment %}
            {% comment %} <td> {{ person.technique_split }} </td> {% endcomment %}
            <td> {{ person.application_split }} </td>
            <td> {{ person.ds_skill_split }} </td>
            <td> {{ person.program_skill_split }} </td>
            <td> {{ person.techstack_split }} </td>
            <td> {{ person.industry_split }} </td>
            <td> {{ person.business_domain_split}} </td>
            <td> {{ person.major }}, {{ person.degree }}, {{ person.university }}</td>
            <td> {{ person.position }}</td>
        </tr>
        
        {% endfor %}
    </table>
</main>
{% endif %}
{% endblock %}


{% block jsblock %}
<script>
    function reset_filter(event) {
        option_tag = document.getElementsByTagName('option');
        // console.log(option_tag[1].selected)
        for (var i = 0; i < option_tag.length; i++) {
           if (option_tag[i].selected == true && option_tag[i].value != '') {
               console.log(option_tag[i].text);
               option_tag[i].selected = false;
               console.log(option_tag[i].selected);
           }
        }
    }
</script>
{% endblock %}