
{% extends "bios/base.html" %}
{% load static %}

{% block content %}
<main class="col-md-9 table-responsive">
    <table class="table table-striped table-sm">
        <tr>
            <th> Name</th>
            <th> Area of Expertise </th>
            <th> Industry Experience </th>
            <th> Technique Skill </th>
            <th> Business Domain </th>
            <th> Education </th>
            <th> Position </th>
        </tr>
        {% for person in result %}
        {% load replace %}
        <tr>
            <td> <a href="/{{person.name}}">
                {% if person.nickname != " " %}
                    {{ person.nickname|replace }}
                {% else %}
                    {{ person.name|replace }} 
                {% endif %}
            </td>
            <td> {{ person.skill_split }} </td>
            <td> {{ person.industry_split }} </td>
            <td> {{ person.technique_split }} </td>
            <td> {{ person.business_domain_split}} </td>
            <td> {{ person.major }}, {{ person.degree }}, {{ person.university }}</td>
            <td> {{ person.position }}</td>
        </tr>
        
        {% endfor %}
    </table>
</main>

{% endblock %}

{% block jsblock %}
	{% comment %} <script type='text/javascript' src="{% static '/js/test.js' %}"></script> {% endcomment %}
	<script>
		
		function test(event) {
			let checkbox = document.getElementById(event.target.id);
			// const prefix = 'id_skill_';
			// console.log(checkbox.id);
			if (checkbox.checked == true) {
				let hidden_selects = document.getElementsByClassName('hidden')
				for (var i=0; i<hidden_selects.length; i++) {
					compare_id = hidden_selects[i].id;
					// compare_id = prefix.concat(hidden_selects[i].id);

					if (checkbox.id == compare_id) {
						select_id = hidden_selects[i].id.split('_')
						hidden_selects[i].setAttribute("class", "unhide");
					}
				}

			} else {
				let unhide_selects = document.getElementsByClassName('unhide')
				for (var i=0; i<unhide_selects.length; i++) {
					compare_id = unhide_selects[i].id
					// compare_id = prefix.concat(unhide_selects[i].id)

					if (checkbox.id == compare_id) {
						console.log("no");
						unhide_selects[i].setAttribute("class", "hidden");
					}
				}
			}
		} 

		function test2(event) {
			console.log(event.target)
			options = document.getElementById(event.target.name)
			options.setAttribute('value', options.value.concat(" ".concat(event.target.value)))
			console.log(options.value)
			/* skill_idx = event.target.id.split('_')

			console.log("hahaha", options)
			elements = options.getElementsByTagName('*')
			for (var i=0; i<elements.length; i++) {
				if (elements[i].selected == true) {
					console.log(elements[i].value)
					selected_skill = document.getElementById("id_skill_".concat(skill_idx[2]))
					selected_skill.setAttribute('value', selected_skill.value.concat(' '.concat(elements[i].value)))
					console.log(selected_skill.innerHTML)
				}
			}*/
		} 

	</script>

{% endblock %} 