
{% extends "bios/base.html" %}
{% load static %}

{% block content %}
<style>
	.hidden {
		display:none;
	}
</style>
<form method='post' action='/test/' enctype="multipart/form-data">
    {% csrf_token %}
	<p> Name </p>
	{{ form.name }}
	<p> Skill </p>
	{% comment %} {{ form.skill }} {% endcomment %}
	{% for s in form.skill %}

	{% if forloop.counter0 == 0 %}
		Cloud Computing Services
	{% endif %}
	<div class="hahah" id="{{forloop.counter0}}" style="margin-left:30px;">
		{{s}}
		<div class="hidden" id="id_skill_{{forloop.counter0}}">
			<div id="skill_select_{{forloop.counter0}}">
				<input type="radio" name="id_skill_{{forloop.counter0}}" value="1" onchange="test2(event);"> 1
				<input type="radio" name="id_skill_{{forloop.counter0}}" value="2" onchange="test2(event);"> 2
				<input type="radio" name="id_skill_{{forloop.counter0}}" value="3" onchange="test2(event);"> 3
			</div>
		</div>
	</div>
	{% endfor %}
	<button type="submit", name="save"> Create / Update Profile </button>

</form>
{% endblock %}

{% block jsblock %}
	{% comment %} <script type='text/javascript' src="{% static '/js/test.js' %}"></script> {% endcomment %}
	<script>
		
		function test(event) {
			let checkbox = document.getElementById(event.target.id);
			// const prefix = 'id_skill_';
			// console.log(checkbox.id);
			if (checkbox.checked == true) {
				let hidden_selects = document.getElementsByClassName('hidden')
				for (var i=0; i<hidden_selects.length; i++) {
					compare_id = hidden_selects[i].id;
					// compare_id = prefix.concat(hidden_selects[i].id);

					if (checkbox.id == compare_id) {
						select_id = hidden_selects[i].id.split('_')
						hidden_selects[i].setAttribute("class", "unhide");
					}
				}

			} else {
				let unhide_selects = document.getElementsByClassName('unhide')
				for (var i=0; i<unhide_selects.length; i++) {
					compare_id = unhide_selects[i].id
					// compare_id = prefix.concat(unhide_selects[i].id)

					if (checkbox.id == compare_id) {
						console.log("no");
						unhide_selects[i].setAttribute("class", "hidden");
					}
				}
			}
		} 

		function test2(event) {
			console.log(event.target)
			options = document.getElementById(event.target.name)
			options.setAttribute('value', options.value.concat(" ".concat(event.target.value)))
			console.log(options.value)
			/* skill_idx = event.target.id.split('_')

			console.log("hahaha", options)
			elements = options.getElementsByTagName('*')
			for (var i=0; i<elements.length; i++) {
				if (elements[i].selected == true) {
					console.log(elements[i].value)
					selected_skill = document.getElementById("id_skill_".concat(skill_idx[2]))
					selected_skill.setAttribute('value', selected_skill.value.concat(' '.concat(elements[i].value)))
					console.log(selected_skill.innerHTML)
				}
			}*/
		} 

	</script>

{% endblock %}
