{% extends 'bios/base.html'%}

{% block title %} Create New Profile {% endblock %}

{% block content %} 
<form method='post' action='/upload_img/' enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    <table class="table table-striped table-sm">
        <tr>
            <th> Name (The name of the users you upload to)</th>
            <th> Photo (.jpeg only) </th>
            <th> Bio (.pdf only) </th>
        </tr>
        {% comment %} <td> {{form.name}} </td> {% endcomment %}
        <td> {{user.first_name}} {{user.last_name}} </td>
        <td> {{form.photo}} </td>
        <td> {{form.bio_ppt}} </td>
    </table>  
    <button class="btn btn-primary" type="submit">Upload</button>

</form>

{% endblock %}